body {
    width: 250px;
    background-color: gray;
}

.nav {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.nav a {
    text-decoration: none;
    color: rgb(255, 199, 58);
    font-weight: bold;
}

.content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

select {
    width: 100%;
}

textarea {
    margin-top: 10px
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}